@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,600");
@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");
*, *:before, *:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font: 600 12px/1 'Open Sans', sans-serif;

  margin:0;
  padding: 0;
  background: url(image.jpg);
  background-size: cover;
  background-position: center;

  background-image: url("../images/dark.jpg");
  background-repeat: no-repeat;
  background-position: right top;
  background-attachment: fixed;
}
.wrapper {
  display: flex;
  min-height: 100%;
}
.sidebar {
  position: absolute;
  width: 220px;
}
.title {
  font-size: 16px;
  line-height: 50px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 3px;
  color: #eee;
  border-bottom: 1px solid #222;
  background: #2a2a2a;
}

.nav li a {
  position: relative;
  display: block;
  padding: 20px 0 20px 50px;
  font-size: 12px;
  color: #eee;
  border-bottom: 1px solid #222;
}
.nav li a:before {
  font: 14px fontawesome;
  position: absolute;
  top: 19px;
  left: 20px;
}
.nav li a:hover {
  background: #444;
}
.nav li a.active {
  box-shadow: inset 5px 0 0 #5b5, inset 6px 0 0 #222;
  background: #444;
}
